/* Navigation */
.elementor-nav-menu--dropdown.elementor-nav-menu__container .elementor-sub-item {
  font-size: 1em;
}

.sub-menu .elementor-nav-menu--dropdown {
  background-color: transparent;
}

/* Reset */
.ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
  padding: 0;
}

/* Titles */
h1 {
  line-height: .9;
}

.h1-span {
  font-family: "Roboto Condensed";
  font-size: 44px;
  font-weight: 500;
  line-height: 0;
}

.h1-subtitle {
  font-size: 33px;
  padding-left: 50px;
}

.lookbook-intro h4 {
  margin: 0;
}

/* Other Text */
.stores ul {
  margin: 0 0 1.5em .3em;
}

.stores li {
  font-size: 16px;
  list-style-type: none;
  position: relative;
  padding-left: 16px;
}

.stores li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 10px;
  left: -1px;
}
li.cat-item {
	font-size: 24px;
	list-style-type: none;
	position: relative;
}
li:before.cat-item {
	content: "\25BA \0020";
	font-size: 6px;
	position: absolute;
}
ul.product-categories {
	margin: 0 0 1.5em 2em;
}
.mobile-cats h5 {
	font-family: "Roboto Condensed";
	font-size: 28px;
}

/* WooCommerce */
.woocommerce a.button,
.woocommerce button.button {
  color: #fff !important;
  font-family: "Roboto Condensed";
  font-weight: 600;
}

.woocommerce div.product p.price {
  font-family: "Arapey";
}

.woocommerce div.product form.cart .variations td.label {
  margin-bottom: 8px;
}

.woocommerce ul.products,
.woocommerce-page ul.products {
  flex-wrap: nowrap;
}

ul.products.columns-4 {
  justify-content: space-between;
}

.elementor-583 .elementor-element.elementor-element-974cd78 a>img {
  max-width: 90%;
}

.woocommerce ul.products li.product a img {
  border-radius: 3px;
  margin: 0 auto 1em;
}

/* Images */
.lookbook-single img,
.lookbook-grid img {
  border-radius: 3px;
}

.gallery-icon {
  border-radius: 0;
  border: none;
}

/* Sidebar */
.widget-title {
  font-family: "Roboto Condensed";
}

.side-link {
  font-weight: 700;
  text-decoration: underline;
}

.credit-button .fa {
  color: #F3F3F3;
}

/* Media Queries */
@media (max-width: 1024px) {
  .reset-section {
    padding: 0 2em !important;
  }
}

@media (max-width: 768px) {
  .site-icon img {
    max-width: 30px;
  }

  .ast-right-sidebar #secondary {
    padding-left: 2em;
    padding-right: 2em;
  }

  .reset-section {
    padding: 2em .5em !important;
  }
  .mobile-cats {
    font-family: "Roboto Condensed";
    font-size: 28px;
  }
}

@media (max-width: 544px) {
  .h1-span {
    font-size: 40px;
  }

  .ast-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ast-separate-container #content .ast-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ast-separate-container.ast-two-container #secondary .widget {
    padding: 2em 0 0;
  }

  .ast-right-sidebar #secondary {
    padding-left: 0;
    padding-right: 0;
  }
  .mobile-cats {
    font-family: "Roboto Condensed";
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .ast-separate-container.ast-two-container.ast-right-sidebar #secondary {
    border-left: 1px solid #eee;
    margin-left: -1px;
  }

  .ast-separate-container.ast-two-container #secondary .widget {
    padding: 0;
  }

  /* WooCommerce */
  .astra-shop-summary-wrap {
    display: flex;
    flex-flow: column nowrap;
    height: 12em;
  }

  .elementor-583 .elementor-element.elementor-element-bdf9820.elementor-wc-products ul.products li.product .button {
    margin-top: auto;
    align-self: center;
    padding: 12px 24px;
  }
}

@media (max-width: 1200px) {}